.project {
}

.colors {
  h2 {
    text-align: center;
    font-size: 2rem;
    color: #feffff;
    font-family: "Sigmar", cursive;
  }
  section {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      flex: 1;
      width: 15vw;
      width: 100%;
      height: 60vh;
      > span {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        overflow: initial;
        padding: 1rem;
        box-sizing: border-box;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          h3 {
            color: white;
            font-size: 2.5rem;
          }
          span {
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
            padding: 0.5rem;
            background-color: #fff;
          }
        }
        > span {
          display: none;
          position: absolute;
          justify-content: center;
          align-items: center;
          border-radius: 1rem;
          padding: 0.5rem;
          background-color: #fff;

          &:first-child {
            left: -16px;
          }
          &:last-child {
            right: -16px;
          }
        }
      }

      &:hover {
        span {
          span {
            display: flex;
          }
        }
      }
    }
  }
}
