.createProject {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  form {
    width: 100%;
    label {
      color: #feffff;
      font-size: 3rem;
      padding-bottom: 2rem;
    }
    input {
      padding: 1rem;
      width: 75%;
      font-size: 1.5rem;
      background-color: #0a0a20;
      color: white;
      border: 2px solid white;
      border-radius: 0.5rem;
      &:focus {
        outline: none;
      }
    }
  }
}

.lastProject {
  h2 {
    color: #feffff;
    font-size: 2rem;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > div {
      display: flex;
      flex-direction: column;
      width: 48%;
      height: 100px;
      color: #feffff;
      margin: 1rem 0;
      h3 {
        margin: 0;
        margin-bottom: 0.5rem;
      }
      div {
        display: flex;
        height: 100%;
        span {
          flex: 1;
          height: auto;
        }
      }
    }
  }
}
